# Ignore virtual environments and Python packages
venv/
stockenv/
__pycache__/
*.pyd
*.dll
*.so

# Ignore large model files (use Git LFS if needed)
*.h5
*.pkl
*.onnx
*.ckpt

# Ignore logs and cache
logs/
*.log
cache/
